@page
@model IndexModel
@{
    ViewData["Title"] = "Authors";
}
<div class="row" style="margin-top:10px">
    <div class="col-md-10"><h4 style="display:inline">Authors</h4></div>
    <div class="col-md-2"><a asp-page="./Create" class="btn btn-primary">Create</a></div>
</div>
<hr/>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-success" role="alert">@Model.Message</div>
}
<table class="table table-bordered table-condensed table-striped table-responsive">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Has Contract?</th>
        <th>Action</th>
    </tr>
    @if (Model.Authors != null)
    {
        foreach (PubsRepository.Models.Author author in Model.Authors)
        {
            <tr>
                <td>@author.Name</td>
                <td>
                    @author.Address<br />
                    @author.City, @author.State, @author.PostalCode
                </td>
                <td>@author.PhoneNumber</td>
                <td>
                    @if (author.HasContract)
                    {
                        <input type="checkbox" disabled checked />
                    }
                    else
                    {
                        <input type="checkbox" disabled />
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@author.AuthorID"><span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="bottom" title="Edit"></span></a>
                    <a asp-page="./Delete" asp-route-id="@author.AuthorID"><span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Delete"></span></a>
                </td>
            </tr>
        }
    }
</table>
